
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-me.txt

.venv*/
env*/
venv*/
ENV*/
env*/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.sqlite3

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.sdf
*.opensdf
*.sln
*.user
*.userosscache
*.sln.docstates

.vscode/

.DS_Store
.DS_Store
.AppleDouble
.LSOverride

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

htmlcov/
.coverage
.coverage.*
cache/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

celerybeat-schedule
celerybeat.pid

docs/_build/

.ipynb_checkpoints

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

*.env
.env
.env.local
.env.*.local
secret_key.txt

*.orig
*.rej
*.bak
*.backup